<div class="container">
  <div class="row page-header light-mode-z1">
    <div class="col-sm-3">
      /r/ <select class="form-control inline-flexk2" id="subRedditSelector">
        <option>3Dprinting</option>
      </select>
    </div>
    <div class="col-sm-3">
      top new hot
    </div>
    <div class="col-sm-6" style="text-align: right;">
      dark mode light mode
    </div>
  </div>
  <div class="row search-bar  light-mode-z3">
    <div class="col-sm-1">
      icon <!-- this was going to be icon of the subreddit -->
    </div>
    <div class="col-sm-4 inline-flexk2" style="margin-top: 12px;">
      <input class="form-control" placeholder="Search..." style="width: 80%; max-height: 65%" />
    </div>
  </div>
  <div class="row master-detail  light-mode-z3">
    <router-outlet></router-outlet>
  </div>
  <div class="row page-buttons  light-mode-z3">
    back and forward buttons would go here
  </div>
  <div class="row page-header light-mode-z1">
  </div>
</div>